.brightness {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  max-width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  align-self: center;
  float: none;
}
.brightness img:hover {
  opacity: 0.5;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: auto;
  max-height: 30vh;
  margin: 0%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.moreinfo {
  padding: 10px;
  background-color: rgb(61, 61, 73);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.divider {
  width: auto;
  border-radius: 20px;
  height: 100%;
  margin: 0%;
  text-align: center;
  vertical-align: middle;
}

.icon {
  max-width: 80%;

  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #8596b6; /* Red */
  }
  .arithmatica-bounder {
    text-align: center;
    padding: 0;
  }
  .reshape-bounder {
    text-align: center;
    padding: 0;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #8596b6; /* Yellow */
  }
  .arithmatica-bounder {
    text-align: center;
    padding: 0;
  }
  .reshape-bounder {
    text-align: center;
    padding: 0;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #8596b6; /* Blue */
  }
  .arithmatica-bounder {
    text-align: right;
    padding: 0;
  }
  .reshape-bounder {
    text-align: left;
    padding: 0;
  }
}
