* {
  margin: 0;
  padding: 0;
}

.full {
  background: linear-gradient(#ffffff, #6dd5fa, #2980b9);
  width: 100vw;
}

.landing-page {
  width: 100vw;
  height: 80vh;
  text-align: center;
}
.game {
  position: relative;
}
.games-container {
  height: 300px;
}
.title-container {
  display: inline-block;
}
.title {
  margin: 0%;
  font-family: "Poppins", Geneva, Tahoma, sans-serif;
  color: #255372;
  font-size: 14vmin;
  text-transform: uppercase;
  font-weight: thin;
  letter-spacing: 5px;
}

.quote {
  text-align: right;
  font-family: "Poppins", Geneva, Tahoma, sans-serif;
  color: #ffffff;
  font-size: 5vmin;
  font-style: italic;
  font-weight: thin;
  letter-spacing: 3px;
}

.view-games {
  font-family: "Poppins", Geneva, Tahoma, sans-serif;
  color: #ffffff;
  bottom: 20%;
  left: 50%;
  font-size: 3vmin;
  position: absolute;
  font-style: italic;
  font-weight: thin;

  text-decoration: none;
}
